.search {
    display: grid;
    font-size: 18px;
    grid-template-columns: 0.6fr 0.6fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: auto;
    margin-left: 10%;
    padding: 20px;
    width: 90%;
}

.search p {
    font-weight: bold;
    margin-bottom: 10px;
}

/* search by type (online/onsite) */
.search_type {
    grid-column-start: 1;
    grid-row-start: 2;
}

.search_type input {
    margin-top: 10px;
}

/* search by rating */
.rating_search {
    grid-column-start: 2;
    grid-row-start: 2;
}

.rating_search ul {
    display: inline-block;
}

.rating_search li {
    color: red;
    display: inline-block;
    font-size: 15px;
}

/* search by labels */
.search_labels {
    grid-column-start: 3;
    grid-row-start: 2;
}

.search_labels input[type=checkbox] {
    display: none;
  }

.search_labels label {
    background-color: white;
    border-style: solid;
    border-radius: 30px;
    border-color: lightgray;
    border-width: 3px;
    color: gray;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 150%;
    margin-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
}

.search_labels input[type=checkbox]:checked+label {
    background-color: grey;
    border-color: grey;
    color: white;
  }

/* search by keywords */
.search_keywords {
    grid-column-start: 2;
    grid-row-start: 3;
    padding-top: 30px;
}