.search {
    display: none;
}

.search.open {
    display: unset;
    display: grid;
    font-size: 18px;
    grid-template-columns: 0.6fr 0.6fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0px auto 50px auto; 
    padding: 20px;
    width: 90%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.search p {
    font-weight: bold;
    margin-bottom: 10px;
}

/* search by type (online/onsite) */
.search_type {
    grid-column-start: 1;
    grid-row-start: 2;
}

.search_type input {
    margin-top: 10px;
}

/* search by rating */
.rating_search {
    grid-column-start: 2;
    grid-row-start: 2;
}

.rating_search ul {
    display: inline-block;
}

.rating_search li {
    color: red;
    display: inline-block;
    font-size: 15px;
}

/* search by labels */
.search_labels {
    grid-column-start: 3;
    grid-row-start: 2;
}

.search_labels input[type=checkbox] {
    display: none;
  }

.search_labels label {
    background-color: white;
    border-style: solid;
    border-radius: 30px;
    border-color: lightgray;
    border-width: 3px;
    color: gray;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 150%;
    margin-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
}

.search_labels input[type=checkbox]:checked+label {
    background-color: grey;
    border-color: grey;
    color: white;
  }

/* search by keywords */
.search_keywords {
    grid-column-start: 2;
    grid-row-start: 3;
    padding-top: 30px;
}

.toggle-filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;

}

.filter-title {
    grid-column-start: 2;
    grid-column-end: 3;   
    margin-top: 60px;
    text-align: center;
    font-weight: normal;
    
}

.filter-btn {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 20px auto 40px auto;
    padding: 14px;
    width: 130px;
    color: #fff;
    background-color: #cb1509;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

.filter-btn:hover {
    background-color: #b81206;
}

.filter-btn.close {
    display: none;
}

.close-filter {
    position: absolute;
    right: 5%;
  
    color: #75c6e0;
    font-size: 50px;
  }

  .close-filter:hover {
      color: #69b3cc;
      cursor: pointer;
  }